// Breakpoints
$mobile: 480px;
$tablet: 768px;

@import './globalStyles.scss';

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  h1 {
    @include page-header;
  }
}

