// Breakpoints
$mobile: 480px;
$tablet: 768px;


.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  h1 {
    color: var(--theme-altText);
    background-color: var(--theme-secondary);
    padding: 5px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px var(--theme-shadow);
  }
}

