#root {
  height: 100%;
  width: 100%;
  color: var(--text-color);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

.app {
  color: var(--text-color);
  background-color: var(--global-background);
}

@mixin button-styles {
  // Common button styles go here
  background-color: var(--button-background);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover-background);
  }
}

// Usage example: Apply the button-styles mixin to a button
button {
  color: var(--text-color);
  @include button-styles;
}


