// Breakpoints
$mobile: 480px;
$tablet: 768px;


.home-container {
  background-color: var(--home-bg-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resume-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}