// Breakpoints
$mobile: 480px;
$tablet: 768px;

@import './globalStyles.scss';

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  h1 {
    @include page-header;
    }
}

.react-pdf__Document {
  box-shadow: 0 7px 10px 3px  var(--theme-shadow);
  border-radius: 5%;
}

.react-pdf__Page {
  border-radius: inherit;
}

.react-pdf__Page__canvas {
  border-radius: inherit;
}



.download-resume-button {
  margin-top: 1%;
}