// Breakpoints
$mobile: 480px;
$tablet: 768px;


.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  h1 {
    color: var(--theme-altText);
    background-color: var(--theme-secondary);
    padding: 5px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px var(--theme-shadow);
  }
}

// .card-data-grid {
//   position: relative;
//   width: 90%;
//   margin: 5%;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   justify-items: center;
// }

.react-pdf__Document {
  box-shadow: 7px 7px 7px var(--theme-shadow);
  border-radius: 5%;
}

.react-pdf__Page {
  border-radius: inherit;
}

.react-pdf__Page__canvas {
  border-radius: inherit;
}



.download-resume-button {
  margin-top: 1%;
}