// Breakpoints
$mobile: 480px;
$tablet: 768px;

#wavy-seperator {
  position: relative;
  margin: 2%;
  width: 200vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  animation: wave 20s linear infinite;
}

@mixin seperator-styles {
  width: 5vw;
  height: 2vw;
  border-radius: 50%;
}

.wavy-sep-top {
  @include seperator-styles;
  border-top: 5px solid var(--theme-secondary);
}

.wavy-sep-bottom {
  @include seperator-styles;
  border-bottom: 5px dashed var(--theme-secondary);
}

@keyframes wave {
  0% {
    transform: translateX(-50vw);
  }

  100% {
    transform: translateX(50vw);
  }
}

.card {
  height: 20vh;
  width: 20vw;
  background-color: var(--theme-secondary);
  border: solid 2px var(--theme-highlight);
  border-radius: 10% 3%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .card-icon {
    position: relative;
    left: 32.5%;
    height: 35%;
    width : 35%;
    margin-top: 5%;
  }

  .card-title {
    position: relative;
    left: 10%;
    width: 80%;
    margin: 3% 0;
    text-align: center;
    font-size: 1.7vw;
    font-weight: bold;
    text-wrap: pretty;

    @media(max-width: $mobile){
      font-size: 20px;
    }
  }

  .card-body {
    position: relative;
    left: 5%;
    width: 90%;
    text-align: center;
    text-wrap: pretty;
  }
}

.paper {
  width: 75%;
  height: 90%;
  background-color: var(--theme-button);
  margin: 5%;
  box-shadow: 5px 5px 2px var(--theme-highlight);
  border-radius: 5%;
}

.carousel-container {
  position: relative;
  width: 80%;
  height: 40vh;
  padding: 1%;
  margin: 2vh;
  background-color: var(--theme-primary);
  border-radius: 5%;
  box-shadow: 5px 5px 2px var(--theme-highlight);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slides {
  width: 75%;
  background-color: var(--global-background);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  gap: 5%;
  overflow: hidden;
}

.carousel-card {
  margin: 5%;

  &.center {
    transform: scale(1.2);
    filter: none;
  }
  &:not(.center) {
    filter: blur(2px);
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;
}

.carousel-button {
  font-size: 1.4em;
  border-radius: 2%;
  width: 7%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  p {
    margin: 0;
  }
}

.svg-seperator {
  height: 10vh;
  margin: 2%;
  background-image: url(../images/hill.svg);
  background-size: 100% auto;
  background-position: bottom;
}


.repeating-svg-container {
  // background-color: var(--theme-highlight);
  width: 220vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  animation: repeating 20s linear infinite;
}

.repeating-svg {
  fill: #E5BD77;
  width: 20vw;
  height: 10vh;
}

@keyframes repeating {
  0% {
    transform: translateX(-60vw);
  }

  100% {
    transform: translateX(60vw);
  }
}

